.page {
  text-align: center;
  background-color: white;
  height: 100vh;
  border-radius: 10px;
  /* margin: 20px;*/
}
.general-info {
  background-color: #0e374e;
  padding: 15px;
  color: white;
  font-size: 15px;
}
.user {
  text-align: center;
}
.personal-info {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.container{
  margin: auto;
  text-align: center;
  padding: 20px;
}
.inner-content{

}
p{
  margin: 0;
  text-align: left;
  
}
.sub-title{
  background-color:rgb(0 52 82 / 7%);
}
.inner-container{
   display: flex;
  gap: 10px;
/*padding: 20px;*/
}
