.personal-details {
  background-color: white;
  border-radius: 10px;
}
.inner-card {
  text-align: left;
  padding: 20px;
  margin-bottom: 10px; /*creates spaces between cards*/

}
.input {
  background-color: #f0f0f0;
  border-radius: 10px;
  border: none;
  width: 100%;
  min-height: 30px;
}
.card-title{
  display: flex;
 
  justify-content: space-between;
}
#print{
  background-color: rgb(201, 16, 16); color: white;  width: 70px; text-align: center; border-radius: 7px;cursor: pointer; user-select: none; margin: auto;
}
#print:hover{
  background-color: red;
}