body,
html {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: gainsboro;
}
.main-container {
display: flex;
flex-direction: row;

  margin: 20px;
 /* height: 100vh;  increases with to 100% of the screens viewport*/
  flex: 1; /*takes up equal portion of available space available on x-axis*/

}
.input-section {
  flex: 1;
  /* padding: 20px;*/
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.output-section {

  background-color: white;
  flex: 2; /*gives page twice as much space as the cards horizontally*/
  /* padding: 20px;*/
  box-sizing: border-box;
  border-radius: 10px;


  
}
